@media screen and (min-width: 320px) and (max-width: 767px) {
    .univer-colored-layer {
        width: 80%;
    }
    .univer-top-bar {
        margin-top: 85px;
    }
    .switch-container, .language-panel {
        position: absolute;
        top: 20px;
    }
    .switch-container {
        right: 30px;
    }
    .language-panel {
        left: 20px;
    }
}